body {
    background-color: orange;
}

h1, h2{
    text-align: center;
    
}

#rainbow {
    display: inline;
    margin: 2px;
    margin-left: 47.8%;
}


#container{

    margin-top: 30px;
    height:800px;
    width: 800px;
    background-color: bisque;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    
}

.bts{
    display: block;
    margin: auto;
    margin-bottom: 20px;
    width: 120px;
    height: 30px;
}


.divs{
    box-sizing:border-box;
    border: 2px solid black;
    
    
}

.gridMakers{
    display:flex;
    justify-content: center;
    margin: auto;
}

.hovered{
    background-color: black;
}